<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="page-header">
          <h1 id="page-title">About the Project</h1>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="section">
          <div class="col-md-6">
                <%= image_tag "little_boy2.jpg", class: "img-responsive img-thumbnail" %>
                <h4 id="caption" class="text-center text-muted">Detail from: "The Littlest Boy : A Candidate for Country Home" in
                    "Fifty-fourth annual report of the House of Refuge Department... for the
                    year ending December 31, 1904." (Circa 1904).</h4>
                </div>
             <div class="col-md-6">  
                <h2 id="text-title">Why Refuge?</h2>
                <h3></h3>
                <h3></h3>
                <p id="text-primary" class="lead">The Cincinnati House of Refuge Project began in 2014 with the goal of
                    creating a database for users to search children's admission records to the House of Refuge. This
                    project builds on earlier work done by the University of Cincinnati Digital
                    Collections and Repositories Department, which used an outside vendor to
                    digitize and transcribe two volumes of admission registers held by the
                    University of Cincinnati's <%= link_to 'Archives and Rare Books Library. ', 'http://www.libraries.uc.edu/arb.html', target: '_blank' %>
                    <br>
                    <br>Our team took that initial dataset, enhanced and standardized the metadata,
                    and created the database on this site. If you'd like to learn more about
                    the technical aspects of how we did this, visit our 
                    <%= link_to 'Github repository.', 'https://github.com/jamesvanmil/house-of-refuge', target: '_blank' %>
                    <br>
                    <br>
                    <br>Special Thanks To:
                    <br>Elna Saxton; Linda Newman; and Sara Williams.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" id="text-title">The Refuge Team</h1>
                <p class="text-center">Librarians + Archivists + Developers</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <%= image_tag "caro2.jpg", class: "img-circle img-responsive", id: "team-img" %>
            </div>
            <div class="col-md-4">
                <h3 class="text-left">Carolyn Hansen</h3>
                <p class="text-left">Metadata Librarian @UCLibraries
                    <br>Project Lead, Metadata, Web Design
                    <br>
                </p>
            </div>
            <div class="col-md-2">
                <%= image_tag "james.jpg", class: "img-circle img-responsive", id: "team-img" %>
            </div>
            <div class="col-md-4">
                <h3 class="text-left">James Van Mil</h3>
                <p class="text-left">Digital Analyst and Developer Librarian @UCLibraries
                    <br>Development Lead
                    <br>
                    <br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <%= image_tag "sean.jpg", class: "img-circle img-responsive", id: "team-img" %>
            </div>
            <div class="col-md-4">
                <h3>Sean Crowe</h3>
                <p class="text-left">Digital Analyst and Developer Librarian @UCLibraries
                    <br>Development
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div class="col-md-2">
                <%= image_tag "sue.jpg", class: "img-circle img-responsive", id: "team-img" %>
            </div>
            <div class="col-md-4 text-center">
                <h3 class="text-left">Suzanne Reller</h3>
                <p class="text-left">Special Collections/Reference Librarian @UCLibraries
                    <br>Research, Archival Assistance, "What Was Refuge" Narrative</p>
            </div>
        </div>
    </div>
</div>
