<%= stylesheet_link_tag 'pages' %>
  <div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-6">
          <%= image_tag 'hor.jpg', class: 'img-responsive img-rounded', alt: 'Cincinnati House of Refuge' %>
        </div>
        <div class="col-md-6">
            <h1>Learn about crime, poverty, and refuge in 19th century Cincinnati</h1>
            <p class="intro-text"> Welcome to the Cincinnati House of Refuge Project. This site features a searchable database of over 6,000 records of children admitted to the House of Refuge from 1869-1902.</p>
            <p>Explore the database, read about the history of refuge in Cincinnati, and look at photographs, maps, and documents. We hope that this site helps you learn more about the lives of children in the Queen City.</p>
            <p class="image-credit"><i>Image:</i> "Cincinnati House of Refuge." Undated. The Public Library of Cincinnati and Hamilton County.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>Search Records</h2>
            <p>Search over 6,000 intake records of children admitted from 1869-1902.</p>
            <%= link_to 'More Info', admissions_path, class: 'btn btn-default' %>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Explore Refuge</h2>
            <p>What was the House of Refuge and why were children admitted there?</p>
            <%= link_to 'More Info', '#', class: 'btn btn-default' %>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Browse Images</h2>
            <p>Browse images, maps, and documents related to the House of Refuge.</p>
            <%= link_to 'More Info', gallery_images_path, class: 'btn btn-default' %>
        </div>
        <!-- /.col-md-4 -->
    </div>
