<div class="section" id="home-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carousel-example" data-interval="4500" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <%= image_tag "christmas_rehearsal.png", id: "carousel-img" %>
                        </div>
                        <div class="hidden-sm item">
                            <%= image_tag "dining_room_boys2.png" %>
                        </div>
                        <div class="item">
                            <%= image_tag "blue_map.png" %>
                        </div>
                        <div class="item">
                            <%= image_tag "boys_dorm.png" %>
                        </div>
                        <div class="item">
                            <%= image_tag "nypl_hor2.jpg" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-header text-left" contenteditable="true">
                  <h1 id="page-title">Learn about Children, Crime, and Refuge
                    <span class="subheader">in 19th century Cincinnati</span></h1>
                </div>
                <p id="text-primary">From 1850 to 1912, thousands of poor and "criminal" children were sent
                    to the Cincinnati House of Refuge for care and rehabilitation.<br><br>Explore
                    what what life was like for these children by searching our database of
                    admission records, reading about the history of Refuge in Cincinnati, and
                    viewing images, maps, and documents.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    <div class="container">
                        <div class="row">
                          <div class="col-md-4">
                            <%= link_to admissions_path, class: 'deco-none' do %>
                              <%= image_tag "register.png", class: "center-block img-circle img-responsive", id: "tri-image" %>
                                <h2 class="text-center">Search Records</h2>
                                <p class="text-center">Search records of children's admissions to
                                <br>the House of Refuge from 1869-1902.</p>
                              <% end %>
                            </div>
                            <div class="col-md-4">
                            <%= link_to what_was_refuge_path, class: 'deco-none' do %>
                                <%= image_tag "OhCiUAR_House_of_Refuge_1.jpg", class: "center-block img-circle img-responsive", id: "tri-image" %>
                                <h2 class="text-center">The Refuge Story</h2>
                                <p class="text-center">Learn about the history of the House of Refuge
                                    <br>and why children were admitted there.</p>
                              <% end %>
                            </div>
                            <div class="col-md-4">
                            <%= link_to gallery_images_path, class: 'deco-none' do %>
                                <%= image_tag "boys_watermelon.png", class: "center-block img-circle img-responsive", id: "tri-image" %>
                                <h2 class="text-center">Browse Image Gallery</h2>
                                <p class="text-center">View images, maps, and documents about
                                    <br>the House of Refuge.</p>
                              <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
