<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1 id="page-title">A Brief History &amp; Overview of the Cincinnati House of Refuge</h1>
                    <br>
                    <h1>
                        <font color="#777777">
                            <span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;">BY SUZANNE RELLER</span>
                        </font>
                        <br>
                        <font color="#777777">
                            <span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;">Collections/Reference Librarian</span>
                        </font>
                        <br>
                        <font color="#777777">
                            <span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;">University of Cincinnati Archives &amp; Rare Books Library</span>
                        </font>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="container-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="container-1">
                <%= image_tag "blue_map.jpg", class: "center-block img-responsive img-thumbnail" %>
                <h4 id="caption" class="text-center text-muted">Detail from: "Plans of towns of Camp Washington and Clifton Heights,"
                    in "Titus' Atlas of Hamilton Co., Ohio ." (1869). The House of Refuge is
                    visible in the upper center, just north of the Work House.</h4>
                <hr>
                <h2 class="text-center" id="quote-lead">
                    <i>The House of Refuge opened in</i>
                    <br>
                    <i>1850 in the Camp Washington</i>
                    <br>
                    <i>area of Cincinnati</i>
                    <br>
                    <br>
                    <br>
                    <i>Children, some as young as</i>
                    <div>
                        <i>toddlers, were referred</i>
                    </div>
                    <div>
                        <i>to as "inmates"</i>
                    </div>
                </h2>
                <hr>
            </div>
            <div class="col-md-6" id="container-narrative">
                <h1 id="text-title" class="text-primary-narrative">A "Prison" for Children ...</h1>
                <h3></h3>
                <p class="lead text-left" id="text-primary-narrative">The Cincinnati House of Refuge opened in the autumn of 1850 in the Camp
                    Washington area of Cincinnati, next to the spot where Cincinnati’s new
                    workhouse would be built. Designed for the “confinement” and “reformation”
                    of juveniles who had committed crimes, the House of Refuge had barred windows
                    and rooms that looked like prison cells. A wall surrounded the building
                    and the children were referred to as “inmates."
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" data-content="Cincinnati House of Refuge, Sixth Annual Report of the Board of Directors of the House of Refuge (Cincinnati:  Cincinnati Gazette Company Print, 1856).">1</a>
                    </sup>In essence, it was intended to be a juvenile detention facility or a prison
                    for children. Over time, though, the House of Refuge would also become
                    a place to put children with nowhere else to go.</p>
                <div>
                    <br>
                </div>
                <p></p>
                <p class="lead text-left" id="text-primary-narrative">In the nineteenth century United States, the idea of a juvenile justice
                    system was a new concept. Previously, children and teenagers who had committed
                    crimes were sent to adult penitentiaries. The new concept of a house of
                    refuge was intended to focus on the reformation of children in a setting
                    separate from adult offenders. By the 1850s, when Cincinnati began work
                    to establish a similar institution, houses of refuge existed in New York,
                    Philadelphia, and Boston.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="For information on the history of the juvenile justice system, see:  David S. Tanenhaus “The Elusive Court:  Its Origins, Practices, and Re-inventions,”  The Oxford Handbook of Juvenile Crime and Juvenile Justice, ed. Donna M. Bishop and Barry C. Feld (New York: Oxford University Press, 2012)" data-trigger="hover" data-container="body" data-placement="top">2</a>
                    </sup>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="paragraph-narrative">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p id="text-primary-narrative" class="lead text-left" contenteditable="true">Cincinnati’s House of Refuge was designed to care for boys under the age
                    of sixteen and girls under the age of fourteen. It appears no lower limit
                    on age was ever set for the children who were confined there, and eventually
                    even toddlers would be placed in the House of Refuge.
                    <br>
                    <br>In the spirit of a prison, the original act establishing the House of
                    Refuge set a very strict daily regiment for the children. They were to
                    work at least seven hours and attend school for at least three hours every
                    day except Sundays and a few holidays including the Fourth of July, Christmas,
                    and Thanksgiving.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, The Charter, Rules and Regulations for the Government of the House of Refuge, Its Inmates, and the Bylaws of the Board of Directors (Cincinnati:  Daily Times Book and Jobs Room, 1850), 10-11." data-trigger="hover" data-container="body" data-placement="top">3</a>
                    </sup>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="container-narrative">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 id="text-title">"Saving" Youth</h1>
                <h3></h3>
                <p class="lead text-left" id="text-primary-narrative">The administration of the House of Refuge saw their job as “saving” children.
                    As one report stated: “The hand of help has here been extended to them
                    – they have been fed, nursed, and clothed, and in common with inmates resident
                    in the city shared equally the moral, religious, and intellectual training
                    of the Institution.”
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Sixth Annual Report of the Board of Directors of the House of Refuge (Cincinnati:  Cincinnati Gazette Company Print, 1856), 8-9." data-trigger="hover" data-container="body" data-placement="top">4</a>
                    </sup>
                    <br>
                    <br>Likely as part of this goal to “save” the children, the original charter
                    lays out strict rules separating the children from their parents. The parents
                    or guardians were to “be admitted to the House to see their children once
                    in three months, under the inspection of the Superintendent and teacher,
                    upon days that may be appointed for that purpose.”
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Sixth Annual Report of the Board of Directors of the House of Refuge (Cincinnati: Cincinnati Gazette Company Print, 1856), 13-14." data-trigger="hover" data-container="body" data-placement="top">5</a>
                    </sup>The reason for this severe separation was likely a prevailing view that
                    the parents were bad influences and responsible for their children’s behavior.</p>
            </div>
            <div class="col-md-6">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <%= image_tag "young_children.jpg", class: "center-block img-responsive img-thumbnail" %>
                                <h4 class="text-center text-muted" id="caption">
                                    <i>Detail from: "Our kindergarten children in charge of the Fall Festival,
                                        directors" in "Fifty-fourth annual report of the House of Refuge Department...
                                        for the year ending December 31, 1904." (Circa 1904).</i>
                                </h4>
                                <hr>
                                <h2 class="text-center text-primary" id="quote-lead">
                                    <i>Children were only allowed</i>
                                    <br>
                                    <i>to see</i>
                                    <i>their parents once</i>
                                    <br>
                                    <i>every three months</i>
                                </h2>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-left" id="text-primary-narrative">The 1855-1856 annual report clearly blames inadequate parenting as a reason
                    for the commitment of children to the House of Refuge. Among the children
                    in the House of Refuge were “found youths from various parts of the State,
                    who, for want of proper guardianship at home, or the entire absence of
                    protection, have wandered from place to place, leaving marks of increasing
                    depravity at every step, until finally drawn by the usual attractions of
                    a large city they have come amongst us.”
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Sixth Annual Report of the Board of Directors of the House of Refuge (Cincinnati: Cincinnati Gazette Company Print, 1856), 8-9." data-trigger="hover" data-container="body" data-placement="top">6</a>
                    </sup>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="container-narrative">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="container-1">
                <%= image_tag "laundry.jpg", class: "center-block img-responsive img-thumbnail", id: "narrative-img" %>
                <h4 class="text-center text-muted" id="caption">
                    <i>"New laundry, ironing and drying room," in "Forty-sixth annual report
                        of the Directors and Officers of the Cincinnati House of Refuge... for
                        the year ending December 31, 1896." (Circa 1896).</i>
                </h4>
                <hr>
                <h2 class="text-center text-primary" id="quote-lead">
                    <i>Most days, children were</i>
                    <br>
                    <i>expected to work at least</i>
                    <br>
                    <i>seven hours</i>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <h1 class="text-primary" id="text-title">Life in Refuge</h1>
                <h3></h3>
                <p id="text-primary-narrative" class="lead text-left">Early in the institution’s history, the majority of the children committed
                    to the House of Refuge had been accused of some sort of crime. According
                    to the 1856 annual report, 208 boys and girls ranging in age from seven
                    to seventeen were committed that year. The vast majority had been convicted
                    of misdemeanor crimes or misbehavior including vagrancy, petit larceny,
                    and insubordination. There were a few though who were sent to the House
                    of Refuge for more serious offenses like burglary and arson.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Sixth Annual Report of the Board of Directors of the House of Refuge (Cincinnati: Cincinnati Gazette Company Print, 1856), 15-19." data-trigger="hover" data-container="body" data-placement="top">7</a>
                    </sup>
                    <br>
                    <br>Upon their entry into the House of Refuge, the children were assigned
                    into different divisions by sex, age, and race. In 1902, there were four
                    divisions of boys and three divisions of girls. Each division had a separate
                    school, sleeping areas, dining rooms, workshops, recreation rooms and playgrounds.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="John Brough Shotwell, A History of the Schools of Cincinnati (Cincinnati:  School Life Company, 1902), 419-425." data-trigger="hover" data-container="body" data-placement="top">8</a>
                    </sup>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="paragraph-narrative">
    <div class="container">
        <p class="lead text-left" id="text-primary-narrative">As stated in the original charter, the children were expected to work.
            Boys often learned a traded, and were sometimes indentured to do so. Girls
            learned domestic tasks. The trades and tasks changed over time, at least
            for the boys. In 1858, the most common indentured trade was farming, but
            boys also worked in the engine and gas room, the tailor and shoe shop,
            and other areas of the House of Refuge. Meanwhile, the girls made dresses,
            sheets, curtains, repaired clothing, and cooked, ironed, and did laundry
            work.
            <sup>
                <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Eighth Annual report of the Board of Directors of the House of Refuge (Cincinnati: Gazette Company Print, 1858), 13-15." data-trigger="hover" data-container="body" data-placement="top">9</a>
            </sup>By 1904, boys admitted to the House of Refuge were learning trades from
            carpentry to tailoring to printing. The girls had fewer options and were
            limited to crafting skills in domestic services such as cooking and sewing.
            <sup>
                <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Fifty Fourth Annual report of the Directors and Officers of the Cincinnati House of Refuge (Cincinnati:  House of Refuge Manual Training School Printing Department, 1904), 19-26," data-trigger="hover" data-container="body" data-placement="top">10</a>
            </sup>
        </p>
        <p class="lead text-left" id="text-primary-narrative">The children also attended school, and were divided into divisions according
            to age and ability. In 1876, there were five schools in the House of Refuge.
            Lessons were provided for one hour in the morning and two hours in the
            evening. An 1876 report by the Ohio State Teachers Association stated that
            very few of the children had received any formal education prior to their
            incarceration in the House of Refuge. The goal, therefore, was “to teach
            the children to read, and to write, and to work, and to train them to habits
            of industry and perseverance, hoping thus to make them useful citizens.”
            <sup>
                <a href="javascript://" data-toggle="popover" data-content="Ohio State Teachers Association, Centennial Committee.  A History of Education in the State of Ohio:  A Centennial Volume (Columbus, Ohio:  The Gazette Printing House, 1876), 404." data-trigger="hover" data-container="body" data-placement="top">11</a>
            </sup>The subjects taught varied by age and ability, but included reading, writing,
            spelling, and arithmetic for all students and subjects like geography and
            physiology for the higher level male pupils.
            <sup>
                <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Fifty Fourth Annual report of the Directors and Officers of the Cincinnati House of Refuge (Cincinnati:  House of Refuge Manual Training School Printing Department, 1904), 28-33." data-trigger="hover" data-container="body" data-placement="top">12</a>
            </sup>
        </p>
    </div>
</div>
<div class="section" id="container-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag "three_boys.jpg", class: "center-block img-responsive img-thumbnail", id: "narrative-img" %>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center text-muted" id="caption">
                            <i>"Appearance when admitted" in</i>"Forty-sixth annual report of the Directors
                            and Officers of the Cincinnati House of Refuge... for the year ending December
                            31, 1896." (Circa 1896).</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="text-primary" id="text-title">"Without Suitable Home"</h1>
                <h3></h3>
                <p class="lead text-left" id="text-primary-narrative">Over time, more and more children who were homeless or whose parents were
                    not adequately able to care for them due to poverty, mental illness, substance
                    abuse and many other reasons, ended up in the House of Refuge. Children
                    as young as three came to be housed in the same institution with teenagers
                    accused of crimes ranging from vagrancy to burglary. In 1856, five out
                    of 233 children were living in the House of Refuge for “want of a home.”
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Sixth Annual Report of the Board of Directors of the House of Refuge (Cincinnati: Cincinnati Gazette Company Print, 1856), 15." data-trigger="hover" data-container="body" data-placement="top">13</a>
                    </sup>By 1904, 139 of the 422 children or 32 percent of the children in the
                    House of Refuge had been committed for non-criminal reasons including being
                    dependent, homeless, “improper home,” neglect or “lack of a suitable home.”
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, Fifty Fourth Annual report of the Directors and Officers of the Cincinnati House of Refuge (Cincinnati:  House of Refuge Manual Training School Printing Department, 1904), 11." data-trigger="hover" data-container="body" data-placement="top">14</a>
                    </sup>
                    <br>
                    <br>This situation was not unique to Cincinnati. During the nineteenth century,
                    the United State became more urbanized and poverty became more visible.
                    At the same time, Americans began to view childhood as a special time of
                    life and children as being in need of protection. Many Americans were grappling
                    with the question of what to do with children who had been abused, neglected,
                    or who those were simply living in poverty.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="There are many histories on the history of child welfare in the United States and on the development of protective services for children during the 19th century.  See Susan J. Pearson, The Rights of the Defenseless: Protecting Animals and Children in Gilded Age America (Chicago: University of Chicago Press, 2011) and John E.B. Myers, Child Protection in America (New York: Oxford University Press, 2006)." data-trigger="hover" data-container="body" data-placement="top">15</a>
                    </sup>
                    <br>
                    <br>For Cincinnati and Cincinnati’s House of Refuge, this meant substantial
                    changes as administrative staff saw the need better serve children who
                    had been committed to the House of Refuge for different reasons.</p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="paragraph-narrative">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-primary" id="text-title">Changing Attitudes</h1>
                <h3></h3>
                <p id="text-primary-narrative" class="lead text-left">By the early 20th century, the House of Refuge had become old, obsolete,
                    and unable to provide adequate care for children with such a wide variety
                    of needs. In addition, its ways of dealing with children who were delinquent
                    or simply in need of better care, were seen as old fashioned and inappropriate.
                    Edward N. Clopper, the superintendent of the home in 1912 wrote, “the old
                    House of Refuge is one of the worst examples in the country of the congregate
                    institute for children.”
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, “Children’s House of Refuge,” Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati (Cincinnati:  City of Cincinnati, 1912), 277." data-trigger="hover" data-container="body" data-placement="top">16</a>
                    </sup>
                    <br>
                    <br>The previous superintendent had also been aware of the conditions, and
                    Superintendent James Alison had written in 1911, "Of late years the entire
                    character of the work has changed…the majority of our children today are
                    dependents, in no way delinquent…The conditions which prevailed fifty years
                    ago, when this institution was built, and the ideas and notions of reclaiming
                    wayward youth, are not those in vogue today. High stone walls and prison
                    cells are not at all inviting to children of any class; neither are they
                    conductive to their moral or spiritual welfare. The open cottage plan,
                    with plenty of God’s blessed sunshine and abundant ground to till is the
                    method of today, and the only proper one.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, “Children’s House of Refuge,” Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati (Cincinnati: Roessler Bros. Printers and Publishers, 1911), 382." data-trigger="hover" data-container="body" data-placement="top">17</a>
                    </sup>
                </p>
            </div>
            <div class="col-md-6">
                <%= image_tag "House_of_Refuge_Cincinnati_Ohio.jpg", class: "center-block img-responsive img-thumbnail" %>
                <h4 id="caption" class="text-center text-muted">"House of Refuge, Cincinnati, Ohio" (Circa 1900). Cincinnati History
                    <br>Lantern Slide Collection. Public Library of Cincinnati and Hamilton County
                    <br>
                    <br>
                </h4>
                <hr>
                <h2 class="text-center text-primary" id="quote-lead">
                    <i>"...the old House of Refuge is</i>
                    <br>
                    <i>one of the worst examples</i>
                    <br>
                    <i>in the country"</i>
                    <div>
                        <br>
                        <br>
                    </div>
                    <div>
                        <i>"High stone walls and</i>
                    </div>
                    <div>
                        <i>prison cells are not at all</i>
                    </div>
                    <div>
                        <i>inviting to children..."</i>
                    </div>
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="section" id="paragraph-narrative">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-left" id="text-primary-narrative">In December of 1912, Cincinnati City Council passed an ordinance authorizing
                    a $250,000 bond to provide funds for a new institution for delinquent children
                    in the “country” where boys and girls would be cared for on separate farms.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, “Children’s House of Refuge.” Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati, (Cincinnati: City of Cincinnati, 1912), 277-278." data-trigger="hover" data-container="body" data-placement="top">18</a>
                    </sup>At the same time, efforts were expanded to reduce the number of “dependent”
                    children in the House of Refuge by either transferring them to the Children’s
                    Home orphanage, by finding assistance for the families through relief or
                    Associated Charities, by forcing parents to care for their children, and
                    by working with the Hamilton County Juvenile Court to ensure that dependent
                    children were sent elsewhere.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, “Children’s House of Refuge.” Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati, (Cincinnati: City of Cincinnati, 1912), 278." data-trigger="hover" data-container="body" data-placement="top">19</a>
                    </sup>
                    <br>
                    <br>By 1912, efforts had begun to shut down the House of Refuge and transition
                    to more modern and separate ways of caring for dependent and delinquent
                    children as described above.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge, “Children’s House of Refuge.” Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati, (Cincinnati: City of Cincinnati, 1912), 278." data-trigger="hover" data-container="body" data-placement="top">20</a>
                    </sup>In 1913, two farms were purchased. A farm for boys in Glendale, and a
                    farm for girls in Wyoming, Ohio. The movement of the boys from the House
                    of Refuge in the city to the new farm began during this year, and construction
                    of buildings on the girls’ farm also began.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Cincinnati House of Refuge,” Children’s House of Refuge,” Annual Reports of the Officers, Boards and Departments of the City of Cincinnati (Cincinnati:  City of Cincinnati, 1913), 333-334, 348." data-trigger="hover" data-container="body" data-placement="top">21</a>
                    </sup>By 1916, the old House of Refuge had been completely vacated.
                    <sup>
                        <a href="javascript://" data-toggle="popover" data-content="Geoffrey J. Giglierano, The Bicentennial Guide to Greater Cincinnati (Cincinnati:  Cincinnati Historical Society, 1988), 259." data-trigger="hover" data-container="body" data-placement="top">22</a>
                    </sup>Thus began a new era in both juvenile detention and the care of abused,
                    neglected, and impoverished children in Cincinnati.</p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="container-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag "register.jpg", class: "center-block img-responsive" %>
                <h4 id="caption" class="text-center text-muted">Detail from Volume 1 of the Cincinnati House of Refuge Admission Register,
                    1869-1882. The page shown is from late summer 1882 and lists the date of
                    admission, child's admission number and name, as well as who committed
                    the child and for what reason.</h4>
            </div>
            <div class="col-md-6 text-justify">
                <h1 class="text-primary-narrative" id="text-title">Records of the House of Refuge</h1>
                <p id="text-primary-narrative" class="lead text-left">What remains of the records of the House of Refuge are now housed at the
                    University of Cincinnati's
                    <%= link_to 'Archives and Rare Books Library. ', 'http://www.libraries.uc.edu/arb.html', target: '_blank' %>The records were transferred to the University of Cincinnati from the
                    City of Cincinnati in the 1970s as part of the Ohio Network Local Government
                    records program. There is also a
                    <%= link_to 'digital collection', 'http://digital.libraries.uc.edu/house_of_refuge/', target: '_blank' %> with searchable records.
                    <br>
                    <br>The records are by no means complete but they do provide a glimpse into
                    what life was like for children who lived in the House of Refuge in the
                    late 19th century and at the turn of the 20th century.</p>
            </div>
            <div class="col-md-12 text-justify">
              <h1 class="text-primary" id="text-title">Citations</h1>
              <blockquote>
                <ol>
                <li>Cincinnati House of Refuge, <i>Sixth Annual Report of the Board of Directors of the House of Refuge</i> (Cincinnati: Cincinnati Gazette Company Print, 1856).</li>
                <li>For information on the history of the juvenile justice system, see:  David S. Tanenhaus “The Elusive Court:  Its Origins, Practices, and Re-inventions,”  <i>The Oxford Handbook of Juvenile Crime and Juvenile Justice,</i> ed. Donna M. Bishop and Barry C. Feld (New York:  Oxford University Press, 2012), accessed 1 February 2016, and  Donald J. Shoemaker,  Juvenile Delinquency.  (Lanham:  Rowman &amp; Littlefield, 2013), 19-21.  Accessed 01 February 2016. Proquest ebrary.</li>
                <%= link_to '...', '#collapseCitations', 'data-toggle'=>'collapse', 'aria-expanded'=>'false', 'aria-controls'=>'collapseCitations'  %>
                <div class="collapse" id="collapseCitations">
                  <li>Cincinnati House of Refuge, <i>The Charter, Rules and Regulations for the Government of the House of Refuge, Its Inmates, and the Bylaws of the Board of Directors </i>(Cincinnati:  Daily Times Book and Jobs Room, 1850), 10-11. Accessed 01 February 2016, Sabin Americana, Gale, Cengage Learning.</li>
                  <li>Cincinnati House of Refuge, <i>Sixth Annual Report of the Board of Directors of the House of Refuge</i>(Cincinnati: Cincinnati Gazette Company Print, 1856), 8-9.</li>
                  <li>Ibid., 13-14.</li>
                  <li>Ibid., 8-9.</li>
                  <li>Ibid., 15-19.</li>
                  <li>John Brough Shotwell, <i>A History of the Schools of Cincinnati </i>(Cincinnati: School Life Company, 1902), 419-425.</li>
                  <li>Cincinnati House of Refuge, <i>Eighth Annual report of the Board of Directors of the House of Refuge</i> (Cincinnati: Gazette Company Print, 1858), 13-15.</li>
                  <li>Cincinnati House of Refuge, <i>Fifty Fourth Annual report of the Directors and Officers of the Cincinnati House of Refuge</i> (Cincinnati:  House of Refuge Manual Training School Printing Department, 1904), 19-26, Accessed 01 February 2016, Haithi Trust.</li>
                  <li>Ohio State Teachers Association, <i>Centennial Committee. A History of Education in the State of Ohio: A Centennial Volume </i>(Columbus, Ohio: The Gazette Printing House, 1876), 404.</li>
                  <li>Cincinnati House of Refuge, <i>Fifty Fourth Annual report of the Directors and Officers of the Cincinnati House of Refuge</i> (Cincinnati:  House of Refuge Manual Training School Printing Department, 1904), 28-33, Accessed 01 February 2016, Haithi Trust.</li>
                  <li>Cincinnati House of Refuge, <i>Sixth Annual Report of the Board of Directors of the House of Refuge </i>(Cincinnati: Cincinnati Gazette Company Print, 1856), 15.</li>
                  <li>Cincinnati House of Refuge, <i>Fifty Fourth Annual report of the Directors and Officers of the Cincinnati House of Refuge</i> (Cincinnati:  House of Refuge Manual Training School Printing Department, 1904), 11, Accessed 01 February 2016, Haithi Trust. </li>
                  <li>There are many histories on the history of child welfare in the United States and on the development of protective services for children during the 19th century.  See Susan J. Pearson, <i>The Rights of the Defenseless: Protecting Animals and Children in Gilded Age America</i> (Chicago: University of Chicago Press, 2011) Accessed 01 February 2016. ProQuest ebrary; and John E.B. Myers, <i>Child Protection in America </i>(New York:  Oxford University Press, 2006).</li>
                  <li>Cincinnati House of Refuge, “Children’s House of Refuge,” <i>Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati</i> (Cincinnati:  City of Cincinnati, 1912), 277.</li>
                  <li>Cincinnati House of Refuge, “Children’s House of Refuge,” <i>Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati</i> (Cincinnati: Roessler Bros. Printers and Publishers, 1911), 382.</li>
                  <li>Cincinnati House of Refuge, “Children’s House of Refuge.” <i>Annual Reports of the Officers, Boards, and Departments of the City of Cincinnati</i> (Cincinnati:  City of Cincinnati, 1912), 277-278.</li>
                  <li>Ibid, 278.</li> 
                  <li>Ibid, 278.</li>
                  <li>Cincinnati House of Refuge,” Children’s House of Refuge,” <i>Annual Reports of the Officers, Boards and Departments of the City of Cincinnati</i> (Cincinnati:  City of Cincinnati, 1913), 333-334, 348.</li>
                  <li>Geoffrey J. Giglierano, <i>The Bicentennial Guide to Greater Cincinnati</i> (Cincinnati: Cincinnati Historical Society, 1988), 259.</li>
                </div>
              </ol>
            </div>
          </div>
        </blockquote>
    </div>
</div>
<script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
</script>


