<div class="container">
  <div class="header center">
    <h2><%= @gallery_image.title %></h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8 col-lg-8">  <p>
    <%= image_tag @gallery_image.image_medium, class: 'img-responsive' %>
</div>
<div class="col-md-4 col-sm-4 col-lg-4">
</p>

<p>
  <strong>Title:</strong>
  <%= @gallery_image.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @gallery_image.creator %>
</p>

<p>
  <strong>Date:</strong>
  <%= @gallery_image.date %>
</p>

<p>
  <strong>Format:</strong>
  <%= @gallery_image.format.collect { |row| row }.join(", ").html_safe unless @gallery_image.format.nil? %>
</p>
<% unless @gallery_image.source_text.blank? %>
<p>
  <strong>Source:</strong>
  <%= link_to @gallery_image.source_text, @gallery_image.source_link%> (External Link)
<% end %>
</p>
<p>
<%= link_to "/assets/#{@gallery_image.image_original}", class: 'btn btn-default btn-xs' do %>
  <span class="glyphicon glyphicon-download"></span> Download Image
<% end %>
</p>

</div>
</div>
<p>
  <strong>Subjects:</strong>
  <%= @gallery_image.subject.collect {|row| link_to row, gallery_images_path(params: { subject: [row] })}.join(", ").html_safe unless @gallery_image.subject.nil? %>
  </p>
  <div class="back-button">
<%= link_to 'Back to gallery', gallery_images_path, class: 'btn btn-default' %>
  </div>
</div>
