<h1>Facets</h1>

  <h2>Complaint of Mother</h2>

    <% if params[:complaint_of_mother].nil? %>
      <% @search.facet(:complaint_of_mother).rows.each do |f| %>
        <%= link_to("#{f.value} (#{f.count})", url_for(params.merge({ complaint_of_mother: f.value }))) %>
      <% end %>
    <% else %>
      <%= link_to("#{params[:complaint_of_mother]} (remove)", url_for(params.merge({ complaint_of_mother: nil }))) %>
    <% end %>

  <h2>Complaint of Father</h2>

    <% if params[:complaint_of_father].nil? %>
      <% @search.facet(:complaint_of_father).rows.each do |f| %>
        <%= link_to("#{f.value} (#{f.count})", url_for(params.merge({ complaint_of_father: f.value }))) %>
      <% end %>
    <% else %>
      <%= link_to("#{params[:complaint_of_father]} (remove)", url_for(params.merge({ complaint_of_father: nil }))) %>
    <% end %>

  <h2>Complaint of Police</h2>

    <% if params[:complaint_of_police].nil? %>
      <% @search.facet(:complaint_of_police).rows.each do |f| %>
        <%= link_to("#{f.value} (#{f.count})", url_for(params.merge({ complaint_of_police: f.value }))) %>
      <% end %>
    <% else %>
      <%= link_to("#{params[:complaint_of_police]} (remove)", url_for(params.merge({ complaint_of_police: nil }))) %>
    <% end %>

  <h2>Appearance Bad</h2>

    <% if params[:appearance_bad].nil? %>
      <% @search.facet(:appearance_bad).rows.each do |f| %>
        <%= link_to("#{f.value} (#{f.count})", url_for(params.merge({ appearance_bad: f.value }))) %>
      <% end %>
    <% else %>
      <%= link_to("#{params[:appearance_bad]} (remove)", url_for(params.merge({ appearance_bad: nil }))) %>
    <% end %>

  <h2>Appearance Good</h2>

    <% if params[:appearance_good].nil? %>
      <% @search.facet(:appearance_good).rows.each do |f| %>
        <%= link_to("#{f.value} (#{f.count})", url_for(params.merge({ appearance_good: f.value }))) %>
      <% end %>
    <% else %>
      <%= link_to("#{params[:appearance_good]} (remove)", url_for(params.merge({ appearance_good: nil }))) %>
    <% end %>

  <h2>Can Read</h2>

    <% if params[:can_read].nil? %>
      <% @search.facet(:can_read).rows.each do |f| %>
        <%= link_to("#{f.value} (#{f.count})", url_for(params.merge({ can_read: f.value }))) %>
      <% end %>
    <% else %>
      <%= link_to("#{params[:can_read]} (remove)", url_for(params.merge({ can_read: nil }))) %>
    <% end %>
