<% @admissions.each_with_index do |admission, index| %>
    <div class="row">
      <div class="col-xs-1" id="result-number">
        <%= "#{result_number(index)}." %>
      </div>
      <div class="col-xs-7">
        <table class="table index-table table-condensed">
          <tr>
            <th>Name:</th>
            <td><%= admission.full_name %></td>
          </tr>
          <tr>
            <th>Gender:</th>
            <td><%= admission.gender.capitalize %></td>
          </tr>
          <tr>
            <th>Reason Admitted:</th>
            <td><%= admission.for_what_committed %></td>
          </tr>
          <tr>
            <th>Date Admitted:</th>
            <td><%= friendly_date(admission.admission_date) %></td>
          </tr>
        </table>
      </div>
      <div class="btn-group">
        <%= link_to 'View', admission, class: 'btn btn-default', id: 'search-button' %>
      </div>
    </div>
    <hr>
<% end %>
