<table>
  <thead>
    <tr>
      <th><%= Admission.human_attribute_name(:history_number) %></th>
      <th><%= Admission.human_attribute_name(:date) %></th>
      <th><%= Admission.human_attribute_name(:name) %></th>
      <th><%= Admission.human_attribute_name(:age) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @admissions %>
  </tbody>
</table>
