<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-sm-4 sidebar">
    <%= render 'admissions/facets' %>
  </div>

  <div class="col-sm-8">
    <%= render 'admissions/search_form' %>
  </div>

  <div class="col-sm-8">
    <h1>Listing Admissions</h1>

    <%= link_to "Download results as JSON", params.merge({ format: 'json' }) %>

    <%= render 'admissions/table' %>
    <%= will_paginate @search.hits, renderer: BootstrapPagination::Rails %>
  </div>
</div>
