<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Search:</h1>

    <% search_options = [
      ["Name", "name"],
      ["Alias", "alias"],
      ["By Whom Committed", "by_whom_committed"],
      ["Disposal", "disposal"],
      ["Parentage", "parentage"]
    ] %>

    <%= form_tag admissions_path, :method => :get do %>

      <% params[:search].each_with_index do |value, index| %>
        <div class="row search-row" id="search-row-<%= index %>">
          <div class="form-group col-sm-4">
            <%= select_tag("field#{index}", options_for_select(search_options, selected: params[:search][index][:field]), { id: "field#{index}", class: 'form-control' } ) %>
          </div>
          <div class="form-group col-sm-4">
            <%= text_field_tag "value#{index}", params[:search][index][:value], { id: "value#{index}", class: 'form-control' } %>
          </div>
          <div class="form-group col-sm-4">
            <%= link_to "Remove Field", "", class: "btn btn-default remove-search-field" %>
            <%= link_to "Add Field", "", class: "btn btn-default add-search-field" if index + 1 == params[:search].count %>
          </div>
        </div>
      <% end %>

      <div class="row" id="search-button-row">
        <%= submit_tag "Search", class: "btn btn-default" %>
        <%= link_to "Reset Search", admissions_path, class: "btn btn-default" %>
      </div>
    <% end %>


  <h1>Listing Admissions</h1>

  <%= link_to "Download results as JSON", params.merge({ format: 'json' }) %>

  <table>
    <thead>
      <tr>
        <th><%= Admission.human_attribute_name(:history_number) %></th>
        <th><%= Admission.human_attribute_name(:name) %></th>
        <th><%= Admission.human_attribute_name(:age) %></th>
      </tr>
    </thead>

    <tbody>
      <% @admissions.each do |admission| %>
        <tr>
          <td><%= admission.history_number %></td>
          <td><%= link_to admission.name, admission %></td>
          <td><%= admission.age %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @search.hits, renderer: BootstrapPagination::Rails %>
</div>
