<p id="notice"><%= notice %></p>

  <div class="section" id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-10-12" id="breadcrumb">
          <ul class="breadcrumb">
            <li>
            <%= link_to 'Home', root_path %>
            </li>
            <li>
              <%= link_to 'Search Records', admissions_path %>
            </li>
            <li>
            <%= link_to 'Results', session[:search_results] %>
            </li>
            <li class="active">View</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="page-header" id="page-title">
                          <h1>View Record For
                              <font color="#777777">
                                  <span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;"><%= @admission.full_name %></span></font></h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <div class="section" id="section-2">
          <div class="col-sm-offset-2 col-sm-5" >
            <table class="table table-bordered">
              <tr>
                <td class="text-right">Name:</td>
                <td><%= @admission.full_name.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">History Number:</td>
                <td><%= @admission.history_number.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Date Admitted:</td>
                <td><%= friendly_date(@admission.admission_date.presence) || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Number of Times in Refuge:</td>
                <td><%= @admission.no_of_times_in_refuge.presence || '-' %></td>
              </tr> 
              <tr>
                <td class="text-right">Reason Admitted:</td>
                <td><%= @admission.for_what_committed.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Committed By:</td>
                <td><%= @admission.by_whom_committed.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Disposal:</td>
                <td><%= @admission.disposal.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Age:</td>
                <td><%= @admission.age.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Gender:</td>
                <td><%= @admission.gender.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Birth City:</td>
                <td><%= @admission.whereborn_city.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Birth State:</td>
                <td><%= @admission.whereborn_state.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Religion:</td>
                <td><%= @admission.religion.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Race/Ethnicity:</td>
                <td><%= @admission.parentage.presence || '-' %></td>
              </tr>
            </table>
          </div>
        </div>
      <% unless @admission.handle.nil? %>
        <div class="row" id='handle-btn'>
          <div class="col-sm-offset-2 col-sm-5" >
            <%= link_to @admission.handle, id: 'search-button', class: 'pull-right btn btn-default', target: '_blank' do %>
              <span class="glyphicon glyphicon-file"></span> View Image
            <% end %>
          </div>
        </div>
      <% end %>
      <% unless @admission.history_number.nil? %>
        <% if related_admissions.count > 0 %>
        <div class="row" id="related-rec">
          <div class="col-sm-offset-2 col-sm-7">
            <h2>Related admission records</h2>
              <ul>
              <% related_admissions.each do |related| %>
                <li class="related-admission"><%= link_to "#{related.full_name}, ", admission_path(related.id) %><%=  " Admission date: #{friendly_date(related.admission_date)}"%></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
  <% end %>
    <div class="text-left">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <%= link_to session[:search_results] do %>
              <i class="fa fa-3x fa-arrow-circle-o-left fa-fw text-muted"></i>
              <h4 id="back-arrow">Back to Search Results</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
