<p id="notice"><%= notice %></p>

  <div class="section" id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-10-12" id="breadcrumb">
          <ul class="breadcrumb">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Search Records</a>
            </li>
            <li>
              <a href="#">Results</a>
            </li>
            <li class="active">View</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="page-header" id="page-title">
                          <h1>View Record For
                              <font color="#777777">
                                  <span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;"><%= @admission.full_name %></span></font></h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <div class="section" id="section-2">
          <div class="col-sm-offset-2 col-sm-5" >
            <table class="table table-bordered">
              <tr>
                <td class="text-right">Name:</td>
                <td><%= @admission.full_name.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">History Number:</td>
                <td><%= @admission.history_number.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Date Admitted:</td>
                <td><%= @admission.admission_date.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Number of Times in Refuge:</td>
                <td><%= @admission.no_of_times_in_refuge.presence || '-' %></td>
              </tr> 
              <tr>
                <td class="text-right">Reason Admitted:</td>
                <td><%= @admission.for_what_committed.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Committed By:</td>
                <td><%= @admission.by_whom_committed.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Disposal:</td>
                <td><%= @admission.disposal.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Age:</td>
                <td><%= @admission.age.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Gender:</td>
                <td><%= @admission.gender.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Birth City:</td>
                <td><%= @admission.whereborn_city.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Birth State:</td>
                <td><%= @admission.whereborn_state.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Religion:</td>
                <td><%= @admission.religion.presence || '-' %></td>
              </tr>
              <tr>
                <td class="text-right">Race/Ethnicity:</td>
                <td><%= @admission.parentage.presence || '-' %></td>
              </tr>
            </table>

   <% unless @admission.history_number.nil? %>
    <% if related_admissions.count > 1 %>
      <h2> Other admission records</h2>
      <div class="col-sm-12" id="record-header">
          <h2>
            <br>Related Admissions</h2>
        </div>
        <div class="row" id="related-rec">
          <div class="col-sm-offset-2 col-sm-7">
            <ul>
              <% related_admissions.each do |related| %>
                <li><%= link_to "#{related.full_name}, ", admission_path(related.id) %><%=  "##{related.history_number}, Admitted #{related.admission_date}"%></li>
              <% end %>
            </ul>
          </div>
        </div>
  <% end %>
  <% end %>
    <div class="section text-left">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a href="#" id="back-arrow"><i class="fa fa-3x fa-arrow-circle-o-left fa-fw text-muted"></i></a>
          </div>
          <div class="col-sm-12">
            <h4 id="back-arrow"><%= link_to 'Back to Search Results', admissions_path %></h4>
          </div>
        </div>
      </div>
    </div>
