<div class="section" id="nav-container-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "hor_logo.png", class: "img-responsive", id: "nav-image" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-justified nav-stacked nav-tabs" id="nav-bar">
                  <li class=<%= 'active' if current_page?(home_path) %>>
                    <%= link_to 'Home', home_path, id: 'nav-link' %>
                  </li>
                  <li class=<%= 'active' if current_page?(admissions_path) %>>
                    <%= link_to 'Search Records', admissions_path, id: 'nav-link' %>
                    </li>
                    <li class=<%= 'active' if current_page?(what_was_refuge_path) %>>
                        <%= link_to 'What Was Refuge?', what_was_refuge_path, id: "nav-link" %>
                    </li>
                    <li class=<%= 'active' if current_page?(gallery_images_path) %>>
                        <%= link_to 'Image Gallery', gallery_images_path, id: "nav-link" %>
                    </li>
                    <li class=<%= 'active' if current_page?(about_path) %>>
                        <%= link_to 'About Project', about_path, id: 'nav-link' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

