<!DOCTYPE html>
<html>
<head>
  <title>Cincinnati House of Refuge Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header_navbar.html.erb' %>
  <%= yield %>
  <%= render 'layouts/footer.html.erb' %>
</body>
</html>
